.tank-card {
    padding: 25px;
    cursor: pointer;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tank-card:hover {
    border-color: var(--subtitle-font-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tank-card__image {
    width: 260px;
    height: 196.04px;
    object-fit: contain;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.tank-card__name {
    color: var(--label-font-color);
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    .tank-card {
        padding: 7px;
    }
}
