:root {
    /* Colors */
    --bg-color: #1c1c1e;
    --label-font-color: #b9b9b9;
    --font-color: #adadad;
    --text-color: #fff;
    --subtitle-font-color: #aeac7e;
    --battles-font-color: #a19d72;
    --experience-font-color: #f8aa31;

    /* Gradients */
    --experience-gradient: linear-gradient(180deg, #ffd100, #997d00);
    --battles-block-bg-gradient: linear-gradient(180deg, #4f4f4f, #313131);
    --battles-bar-gradient-bg: linear-gradient(180deg, #262626, #303030);
    --battles-input-gradient: linear-gradient(180deg, #4d4a3d, #6e653f);
    --battles-block-border: linear-gradient(0, #252525, #727272);
    --battles-bar-border: linear-gradient(180deg, #2a2a2a, #3f3f3f);

    /* Widget */
    --widget-bg-color: rgba(42, 42, 42, 0.9);
    --widget-bg-color-mobile: rgba(42, 42, 42, 0.95);
    --widget-border-color: #747474;

    /* Buttons */
    --btn-bg-color: #454540;
    --btn-icon-color: #f9f5e1;

    /* Radio buttons */
    --radio-btn-color: #dddddd;
    --radio-btn-checked-color: #676767;
    --radio-btn-hovered-border-color: #676767;

    /* Battles bar */
    --battles-empty-bar: #1d1d1f;
    --borders-default-color: #000;

    /* Sizes */
    --border-radius: 8px;
    --transition: all 0.3s ease;
}
