.battles-input {
    align-self: flex-end;
    justify-self: flex-end;
    box-sizing: border-box;
    width: 130px;
    height: 50px;
    padding: 0 19px;
    border-radius: 4px;
    border: 4px solid var(--borders-default-color);
    background-color: transparent;
    color: var(--battles-font-color);
    font-weight: 700;
    font-size: 34px;
    text-align: end;
    -webkit-appearance: none;
    appearance: none;
    outline: none; /* remove native focus outline */
    transition: border-color 160ms ease, box-shadow 160ms ease, opacity 120ms ease,
        background-color 120ms ease;
    /* black lines in background */
    background-image: repeating-linear-gradient(
            135deg,
            rgb(0, 0, 0) 0px,
            rgb(0, 0, 0) 1px,
            rgba(255, 255, 255, 0) 1px,
            rgba(255, 255, 255, 0) 6px
        ),
        var(--battles-input-gradient);
    background-blend-mode: overlay, normal;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    /* subtle shadows */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 -6px 12px rgba(0, 0, 0, 0.45);
    /* margin-bottom: 5px; */
}

/* remove native spin buttons */
.battles-input::-webkit-outer-spin-button,
.battles-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* remove firefox spin buttons */
.battles-input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.battles-input:hover {
    opacity: 0.95;
    cursor: text;
}

.battles-input:focus,
.battles-input:focus-visible {
    border-color: var(--btn-bg-color);
}

@media screen and (max-width: 767px) {
    .battles-input {
        align-self: center;
        margin-top: 10px;
    }
}
